<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

   <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
      </layout>
   </appender>

   <logger name="no">
       <level value="DEBUG" />
   </logger>
   <logger name="com">
       <level value="DEBUG" />
   </logger>
   <logger name="net">
       <level value="INFO" />
   </logger>
   <logger name="java">
       <level value="INFO" />
   </logger>
   <logger name="javax">
       <level value="INFO" />
   </logger>
   <logger name="org">
       <level value="INFO" />
   </logger>
   <logger name="se">
       <level value="INFO" />
   </logger>
   <logger name="net">
       <level value="INFO" />
   </logger>
   <logger name="httpclient">
       <level value="INFO" />
   </logger>

   <logger name="LoggerMessageProcessor">
       <level value="DEBUG" />
   </logger>


   <root>
      <level value="DEBUG"/>
      <appender-ref ref="consoleAppender"/>
   </root>

</log4j:configuration>